:root {
    --background: #ffffff;
    --alt-background: #2B2C2E;
    --header-text: #272729;
    --main-text: #28282B;
}

body {
    font-family: 'Graphik', sans-serif;
    color: var(--main-text, #28282B);
    margin: 0;
}

header {
    padding: 2.7vw 4.5vw;

    li > a {
        color: var(--header-text, #272729);
    }
}

header, footer {
    font-weight: 500;
    font-size: 0.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 3vw;
    }

    li > a {
        text-decoration: none;
    }
}

footer {
    background-color: var(--alt-background, #2B2C2E);
    color: var(--background, #ffffff);
    
    
    padding: 2.7vw 4vw;

    li > a {
        color: var(--background, #ffffff);
    }
}

#logo-link {
    text-decoration: none;
    color: var(--header-text, #272729);
}

#hero-section {
    padding: 0 4.5vw 5vw 4.5vw;
}

#hero-banner {
    background-image: url('images/21ca690a9e83a4a6f93b84970462ed87.png');
    width: 100%;
    height: 47.5vw;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        color: var(--background, #ffffff);
        font-size: clamp(2rem, 4.5vw, 4.5rem);
        font-weight: 400;
    }
}

.content-section {
    padding: 2vw 15vw;
}

#main-text-section {
    text-align: center;
    h2 {
        
        font-size: 2.25rem;
        font-weight: 400;
    }
}

#image-section {
    margin: 9vw 0;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;

    img {
        width: 28.5%;
        height: 28vw;
        object-fit: cover;
        object-position: center;
    }

    img:nth-child(1) {
        transform: translateY(-4.7vw);
    }
    img:nth-child(3) {
        transform: translateY(4.7vw);
    }
}

#cards-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}

.card {
    width: 453px;
    h3 {
        line-height: 1.28;
    }
    p {
        line-height: 1.61;
    }
}

@font-face {
    font-family: 'Graphik';
    src: url('fonts/Graphik-Medium-Trial.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('fonts/Graphik-Regular-Trial.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ogg';
    src: url('fonts/Ogg-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

h1,h2,h3 {
    font-family: 'Ogg', serif;
    color: var(--header-text, #272729);
}